<h1>Where can we find you?</h1>

<%= render layout: 'form' do |f| %>
    <div class="field">
    <%= f.label :userable_type,"User Type" %><br />
    <%= f.select :userable_type, userable_type_options(), {}, :class => "form-control"  %>
  </div>
<% end %>